In [1]:
import time

time.now()

AttributeError: module 'time' has no attribute 'now'

In [6]:
timings = {
                'mean': 12424,
                'std': 344531,
                'min': 23423,
                'max': 12
            }

print(f'{timings,}')

({'mean': 12424, 'std': 344531, 'min': 23423, 'max': 12},)

In [7]:
tuple(f'{a}' for a in range(3))

('0', '1', '2')

In [2]:
import pandas as pd
import numpy as np

speeds = pd.DataFrame([
        ("bird", "Falconiformes", 389.0),
        ("bird", "Psittaciformes", 24.0),
        ("mammal", "Carnivora", 80.2),
        ("mammal", "Primates", np.nan),
        ("mammal", "Carnivora", 58),
        ],
        columns=("class", "order", "max_speed"),
)
speeds

    class           order  max_speed
0    bird   Falconiformes      389.0
1    bird  Psittaciformes       24.0
2  mammal       Carnivora       80.2
3  mammal        Primates        NaN
4  mammal       Carnivora       58.0

In [11]:
grouped = speeds.set_index(['class', 'order'])
grouped

                       max_speed
class  order
bird   Falconiformes       389.0
       Psittaciformes       24.0
mammal Carnivora            80.2
       Primates              NaN
       Carnivora            58.0

In [25]:
timing_df = pd.DataFrame()
pd.concat([timing_df, pd.DataFrame.from_records([{'test': 23, 'foo': 12}])], ignore_index=True)

   test  foo
0    23   12

In [24]:
pd.DataFrame.from_records([{'test': 23, 'foo': 12}])

   test  foo
0    23   12

In [28]:
import re

def latex_to_markdown(latex_table):
    # Remove the table environment and alignment specifiers
    table_body = re.search(r'\\begin{tabular}.*?\{(.*?)\}(.*)\\end{tabular}', latex_table, re.DOTALL)
    if not table_body:
        return "Invalid LaTeX table"
    alignment = table_body.group(1)
    table_content = table_body.group(2)

    # Replace LaTeX alignment specifiers with corresponding Markdown syntax
    alignment_map = {
        'c': '---',
        'l': ':---',
        'r': '---:',
        '|': '|'
    }
    markdown_alignment = ''.join([alignment_map.get(c, '|') for c in alignment])

    # Preprocess table content to replace multirow cells with placeholders
    multirow_pattern = re.compile(r'\\multirow{(\d+)}{.*?}{(.*?)}')
    placeholders = {}
    def replace_multirow(match):
        count = int(match.group(1))
        content = match.group(2)
        placeholder = f'__MULTIROW_{len(placeholders)}__'
        placeholders[placeholder] = content
        return placeholder * count
    table_content = multirow_pattern.sub(replace_multirow, table_content)

    # Split the table content into rows
    rows = table_content.strip().split(r'\\')

    # Process each row and convert it to Markdown
    markdown_rows = []
    for row in rows:
        cells = row.strip().split('&')
        for i, cell in enumerate(cells):
            # Remove any newline characters and trim whitespace
            cell = cell.replace('\n', '').strip()
            # Replace placeholders with multirow content
            if cell in placeholders:
                cells[i] = placeholders[cell]
            else:
                # Add Markdown formatting for non-multirow cells
                cells[i] = cell

        markdown_row = '| ' + ' | '.join(cells) + ' |'
        markdown_rows.append(markdown_row)

    # Combine Markdown rows and alignment specifier
    markdown_table = markdown_alignment + '\n' + '\n'.join(markdown_rows)

    return markdown_table

# Example LaTeX table with multirow cells
latex_table = r"""
\begin{tabular}{|c|c|c|}
\hline
Header 1 & Header 2 & Header 3 \\
\hline
\multirow{2}{*}{Value 1} & Value 2 & Value 3 \\
& Value 4 & Value 5 \\
\hline
Value 6 & Value 7 & Value 8 \\
\hline
\end{tabular}
"""

markdown_table = latex_to_markdown(latex_table)
print(markdown_table)

|---|---|---|
| \hlineHeader 1 | Header 2 | Header 3 |
| \hline__MULTIROW_0____MULTIROW_0__ | Value 2 | Value 3 |
|  | Value 4 | Value 5 |
| \hlineValue 6 | Value 7 | Value 8 |
| \hline |

In [37]:
def linear_fit(dim: int):
    x = np.linspace(-10, 10, dim)
    y = 2*x**2 + 4 +np.random.rand(len(x))
    return np.polynomial.Polynomial.fit(x, y, deg=2)

foo = linear_fit(100)

In [38]:
foo

Polynomial([ 4.55904283e+00, -1.82357030e-02,  1.99898277e+02], domain=[-10.,  10.], window=[-1.,  1.], symbol='x')

In [9]:
def fibonacci(n):
    if n <= 1:
        return n
    fib_prev = 0
    fib_current = 1
    for _ in range(2, n + 1):
        fib_prev, fib_current = fib_current, fib_prev + fib_current
    return fib_current

In [13]:
import math
import time

t0 = time.time()
fibonacci(50000)
t1 = time.time()
print(f'{t1-t0:.2e}')

4.06e-02